.blog-cotent{
    width: 100%;
    flex-direction:column ;
    text-align: left;
    margin: 20px;

}

.img-bg{
     width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.img-bg2{
    background-image: url(../assets/mark-harpur-K2s_YE031CA-unsplash.jpg);
}
.img-bg1{
    background-image:url(../assets/pine-watt-2Hzmz15wGik-unsplash.jpg) ;
}
.blog-cotent img{
    width: 100%;
    height: 300px;
}

.text-content{
    margin-block: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.text-content span,p{
    margin-bottom:10px ;
}
.blog{
    text-align: center;
}
.blog h1{
    margin-top: 20px;
}