@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --secondary-text-color: #74C69D;
  --primary-text-color: #1b4332;
  --accents-color: #081c15;
  --accents-light:#40916C; 
  --padding: 20px;
}

body {
  font-family: "poppins", sans-serif;
  color: var(--primary-text-color);
  /* background-color: #ebf2fa; */
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
  font-family: "roboto", sans-serif;
  line-height: l.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbanner {
  width: 100%;
  position: relative;
  min-height: 500px;
  background-image: url(../assets/pexels-dreamlensproduction-1775777.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}
.menu-icon{
  display: none;
}

.topbanner-container {
  flex-direction: column;
  justify-items: center;
  height: 500px;
  color: var(--secondary-text-color);
}

.topbanner-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 500px;
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.9));
  z-index: -1;
  min-height: 200px;
  filter: blur(2.3px);
}
.navbar {
  width: 100%;
  justify-content: space-between;
  padding: var(--padding);
}
.menu ul {
  justify-content: flex-end;
  gap: var(--padding);
}

.hover-links{
    color: var(--primary-text-color);
    transition: all 0.2s ease-in;
    font-weight: 600;
}

.hover-links:hover{
    color: var(--accents-light);
}

.button{
    background-color: var(--secondary-text-color);
    color: var(--accents-color);
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.2s ease-in;
    z-index: 5;
}


.button:hover{
  color: var(--secondary-text-color);
  background-color: var(--accents-color);
}




.content{
    justify-content: space-between;
    gap:30px;
    padding: var(--padding);
}
/* .image2{
  flex-direction: row-reverse;
} */

.right-content img{
    height: 300px;
    width: 500px;
}

.img-item img {
  height: 300px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3)
}

.left-content{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--padding);
}

.our-products{
  background-color: #ebf2fa; 
  height: 200px;
  width: 100%;
  margin-bottom: var(--padding);
  flex-direction: column;
  align-items:flex-start;
  padding: var(--padding);
}


